/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-salmon: #ff957d;
  --color-light-blue: #e0f3fc;
  --color-black-blue: #003478;
}

body {
  font-family: 'area-normal', sans-serif;
  color: var(--color-black-blue);
  margin: 0;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
}

h3 {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0 0 20px;
}

h4 {
  font-size: 1.25rem;
  font-weight: 800;
  margin-bottom: 20px;
}

p {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -0.15px;
}

@media (max-width: 576px) {
  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.5rem;
  }
}

body {
  cursor: url('../assets/img/cursor.svg');
}
